.ua-alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.ua-alert-update {
    color: #94a540;
    background-color: #e7f7e3;
    border-color: #c7e5dc;
}

.ua-alert {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid transparent;
    vertical-align: middle;
}
p.ua_error {
	margin: 0 !important;
}

.ua-block {
	background-color: #fff;
    border: 1px solid #ebebeb;
    padding: 20px 24px 0	
}

.ua-block h4 {
    font-size: 1.375em;
    margin-bottom: 16px
}

.ua-block .line-separator {
    margin-bottom: 5px
}

.ua-block-list {   
    padding: 0 16px 36px;
    background-color: #fff;
    overflow: hidden
}

.ua-block-list .ua-block-wrap .comment {
    margin-bottom: 28px;
    position: relative
}
.ua-block-list .ua-block-wrap .comment .text-header {
    display: inline-block;
    margin: 6px 4px 4px 0;
	font-weight: 700;
}

.ua-block-list .ua-block-wrap .comment .reply {
    color: #06b99b;
    font-size: 0.75em;
    font-weight: 700;
    position: absolute;
    top: 6px;
    right: 0
}
.ua-block-list .ua-block-wrap .comment .report {
    color: #b2b2b2;
    font-size: 0.75em;
    position: absolute;
    top: 6px;
    right: 0
}

.ua-users-form input[type=text], .ua-users-form select {
	width:100%;
	padding: 0.5278em;
	
}

.ua-users-form label {
	font-weight: 700;
}


#ualoginform input[type=text], #ualoginform select {
	width:100%;
	padding: 0.5278em;	
}

#ualoginform label {
	font-weight: 700;
}


/* List Activity style */

ul#ua-activity-list {
	list-style: none;
}

ul#ua-activity-list li {
    padding: 0 8px 8px 8px;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
    padding-bottom: 16px;
    padding-left: 18px;
}
ul#ua-activity-list .ago {
    font-style: italic;
}
.ua-users-activity:before {
	font: normal 20px/1 'dashicons';
    float: left;
    margin-left: -25px;
    margin-top: 0;
    content: "\f111";
    -webkit-font-smoothing: antialiased;
}
.ua-users-post:before {
	content: "\f123";
}
.ua-users-comment:before {
	content: "\f125";
}
.ua-users-register:before {
	content: "\f110";
	}